body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  background-color: #e7e7e7;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 5px auto;
  padding: 5px 15px 15px 15px;
  border-radius: 10px;
  background-color: #ffffff;
}
.container > h1 {
  color: #000000;
  margin: 0 0 10px 0;
  font-size: 1.5rem;
}
.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 10px;
}

.elevators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  background-color: #dad7d7;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.elevator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #dad7d7;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button,
.label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 1rem;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button.upSide:hover,
.button.downSide:hover {
  background-color: #f03030;
  color: white;
}

.floors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28%;
  padding: 0.25rem;
  background-color: #283fd8;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.052);
}
.floor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  font-size: 1rem;
}
.elevator_car {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 65px;
  font-size: 2rem;
  background-color: #f0f0f0;
  border-style: none solid solid solid;
  border-width: 1px;
  border-color: #ccc;
  opacity: 0.2;
}

.elevator_car.idle {
  background-color: green;
  opacity: 1;
  color: white;
}

.elevator_car.moving {
  background-color: red;
  opacity: 1;
  color: white;
}

.elevator_car.stopped {
  background-color: blue;
  opacity: 1;
  color: white;
}
