<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elevator System</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  <body>
    <div class="container">
      <!--
      <div id="controls">
        <label for="numFloorsInput">Number of Floors:</label>
        <input type="number" id="numFloorsInput" min="1" value="10" />

        <label for="numElevatorsInput">Number of Elevators:</label>
        <input type="number" id="numElevatorsInput" min="1" value="2" />

        <button id="initializeButton">Initialize Elevators</button>
      </div>
      -->
      <h1>Elevator System</h1>
      <div class="main-container">
        <div class="elevators" id="elevators"></div>
        <div class="floors" id="floors"></div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
